<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    @*Search-Bar*@
@*    @await Html.PartialAsync("_SearchView")
    <hr/>*@
    @*Popular animlals*@
    <h1>Popular animlals</h1>
    @await Html.PartialAsync("_PopularAnimalsView")
    <hr/>
    @*Categories*@
    <h1>Categories</h1>
    @await Html.PartialAsync("_HomeCategoriesView")
    <hr/>
    @*About us*@
    <h2>About Us</h2>
    <div>GoAdopt is an adoption center specializing adoption from a variety of animals</div>
</body>
</html>
