
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @*Search-Bar*@
    <div class="topnav">
        <input type="text" placeholder="Search..">
    </div>
    <hr/>
    @*Popular animlals*@
    <div>b</div>
    <hr/>
    @*Categories*@
    <div>c</div>
    <hr/>
    @*About us*@
    <div>d</div>
</body>
</html>
