@{
    ViewBag.Title = "Home";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @*Title*@
    <h1>Home Page</h1>
    <hr/>
    @*Search-Bar*@
    @await Html.PartialAsync("_SearchView")
    <hr/>
    @*Popular animlals*@
    <div class="popularAnimals">
        <h2>Popular Animals</h2>
        <img src="/lib/Dog1.jpg" alt="A Dog"/>
        <img src="/lib/Cat1.jpg" alt="A Cat"/>
    </div>
    <hr/>
    @*Categories*@
    @await Html.PartialAsync("_HomeCategoriesView")
    <hr/>
    @*About us*@
    <h2>About Us</h2>
    <div>GoAdopt is an adoption center specializing adoption from a variety of animals</div>
</body>
</html>
