
.navbar {
    list-style: none;
    background-color: black;
}

nav li {
    display: inline-block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-size:large;
    padding: 8px;
    text-decoration: none;
}

.popularAnimals header {

}

.popularAnimals img {
    width: 300px;
    height: 200px;
}
