body {
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 12px;
    margin-right: 12px;
    padding: 8px;
}

section {
    padding: 12px 20px, 12px, 20px;
    display: grid;
    min-width: 100%;
    min-height: 100%;
}

#comment-section {
    
}

#comment-section div 
{
    margin : 15px;
}

#comment-box
{
    width : 60%;
}

#comment-send-button {
    width: 20%;
}

.stripe {
    padding: 1rem, 1rem;
    display: grid;
    min-width: 100%;
    min-height: 100%;
}

#category-card-images {
    background-color: aliceblue;
    text-decoration: none;
}

#category-card-images a{
    color: white;
    text-decoration:none;
}


.navbar {
    padding: 10px;
}

.navbar-horizontal {
    background-color: darkcyan;
}

.navbar-vertical {
    background-color: midnightblue;
}

.navbar ul {
    list-style: none;
    margin: 0px;
}

.navbar-horizontal ul {
    display: inline-block;
}
.navbar-vertical ul {
    display: block;
    margin:10px;
    padding-inline-start:0px;
}

.navbar-horizontal ul li {
    display: inline-block;

}

.navbar-vertical ul li {
    display: block;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    font-size: large;
    padding: 8px;
    text-decoration: none;
}


#newAnimalForm {
    margin: 20px;
    width: max-content;
    background-color: antiquewhite;
    border: 4px groove grey;
}

#EditAnimalForm {
    margin: 20px;
    width: max-content;
    background-color: aquamarine;
    border: 4px groove grey;
}

form div {
    margin: 10px;
}

form button {
    margin-right: 10px;
}

form label {
    width: 85px;
    display: inline-block;
}

textarea {
    align-self: start;
}

#description-label {
    text-align: left;
    margin-bottom: 8px;
    display: block;
}

.search-button{
    display: inline;
    width: 70px;
    height: max-content;
}

.form-submmission {
    align-self: baseline;
    margin-top: 8px;
    margin-left: 0px;
    width: 100px;
    height: 60px;
}

form input, select{
    width: 40%;
}

.title {
    font-weight: bolder;
}

.secondery-title {
    font-weight: bold;
}

.catalog label {
    margin-right: 10px;
    width: 75px;
    display: inline-block;
}

.animal-profile-display {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: darkslategrey;
}

.animal-profile-view-display {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: bisque;
}

.animal-profile {
    width: 260px;
    height: max-content;
    margin: 8px;
    padding: 0px;
    background-color: azure;
    border: 4px groove grey;
}

.animal-profile h3 {
    margin: 0px;
    padding: 8px;
}

.animal-profile-content {
    height: fit-content;
    padding: 8px;
}

.animal-profile-content div {
    display:flex;
    flex-wrap:wrap;
}

.animal-profile-img {
    height: 180px;
    width: 100%;
    border-bottom: 1px solid grey;
}

.animal-profile-img img {
        width: 100%;
}

.non-bulleted-list ul {
    list-style: none
}

#popular-animals {
    display: inline-block;
    margin: 10px;
}

#popular-animals a {
    text-decoration: none;
    color: dimgray;
}

#popular-animal {
    width: 230px;
    height: 230px;
    color: dimgrey;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

figcaption {
    text-align: center;
    justify-content: center;
}

.category-img-figure {
    margin: 10px;
    display: inline-block;
}

.main-content-wrapper hr {
    margin: 0px;
}


.category-img {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10%;
    margin: 10px;
}

.search-bar {
    width:80px;
}

.about-us {
    margin: 10px;
}
