@model IEnumerable<AnimalAdoptionCenter.Models.Animal>
<head>
    <title>Admin</title>
</head>
<body> 
    <div>
        <h1>Admin</h1>
    </div>
    <div>
        <form asp-action="NewAnimalForm">
            <button type="submit"> Add new animal</button>
        </form>
    </div>
    <div class="animal-profile-display">
        @await Html.PartialAsync("_AdminProfilesView");
    </div>
</body>