@{
    ViewBag.Title = "Index";
}

<h1>Index</h1>
<h2>Catalog:</h2>
<div>
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="range">
    <input type="search" />
</div>
