@{
    ViewBag.Title = "Index";
}

<h1>Index</h1>
<h2>Catalog:</h2>
<div>
    <label for="searchBreed">
        Breed:
        <select name="searchBreed">
            @{
                for (int i = 0; i < 5; i++)
                {
                    <option value="modelDogExample"> dog @i </option>
                }
            }
        </select>
    </label>
    <label for="searchSize">
        Size:
        <select name="searchSize">
            @{
                for (int i = 0; i < 4; i++)
                {
                    <option value="enumSizeExample"> size @i </option>
                }
            }
        </select>
    </label>
    <label for="searchGender">
        Gender:
        <select name="searchGender">
            @{
            for (int i = 0; i < 2; i++)
            {
                 <option value="enumGenderExample"> gender @i </option>
            }
        }
        </select>
    </label>
    <input type="range">
    <input type="search" placeholder="Search.." />
</div>
<div>
    <div>
        @{
            for (int i = 0; i < 2; i++)
            {
                <div><button> Category @i </button> </div>
            }
        }
    </div>
    <div>
        @{
            for (int i = 0; i < 3; i++)
            {
                <div>
                    <img>
                    <p>name: @i age: @i</p>
                    <p>size: @i gender: @i</p>
                    <button> Profile @i </button>
                </div>
            }
        }
    </div>
</div>
