@{
    ViewBag.Title = "Index";
}

<h1>Index</h1>
<h2>Catalog:</h2>
<div>
    <input type="checkbox">
    <input type="checkbox">
    <input type="checkbox">
    <input type="range">
    <input type="search" placeholder="Search.." />
</div>
<div>
    <div>
        @{
            for(int i = 0; i< 2; i++)
            {
                    <div><button> Category @i </button> </div>
            }
        }
    </div>
</div>
