@inject IRepository repository
<nav>
    <div>
        @{
            var categories = repository.GetCategories();
            foreach (var category in categories)
            {
                <figure class="category-img-figure">
                <img class="category-img" src="@category.ImagePath" alt="Card image cap">
                    <figcaption>@category.Name</figcaption>
                </figure>
            }
        }
    </div>
</nav>