@inject IRepository repository
<nav>
    <ul>
        @{
            foreach (var category in repository.GetCategories())
            {
                <li>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="@category.ImagePath" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">
                                @category.Name
                            </p>
                        </div>
                    </div>
                </li>
            }
        }
    </ul>
</nav>