@inject IRepository repository
@model AnimalAdoptionCenter.Models.Animal;

<div class="popularAnimals">
    <h2>Popular Animals</h2>
    @{
        var popularAnimals = repository.GetPopularAnimals().ToList();
        foreach(var animal in popularAnimals)
        {
            string categoryName = repository.GetCategoryById(animal.CategoryId).Name!;
            <img src="@animal.ProfileImagePath" alt="Popular animal: A @categoryName named @animal.Name"/>
        }
    }
</div>