@*need to add inection to a new service called GetPopAnilmasServies*@

<div class="popularAnimals">
    <h2>Popular Animals</h2>
    <img src="/lib/pictures/animals/Dog1.jpg" alt="A Dog" />
    <img src="/lib/pictures/animals/Cat1.jpg" alt="A Cat" />
</div>