@inject IRepository repository
<hr />
<nav>
    <ul>
        @{
            foreach (var animal in repository.GetAnimals())
            {
                <li>
                    <div class="card popularAnimals" style="width: 18rem;">
                        <img class="card-img-top" src="@animal.ProfileImagePath" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">
                                @animal.Name
                            </p>
                        </div>
                    </div>
                </li>
            }
        }
    </ul>
</nav>